APP_ENV=develop
APP_PORT=8080

JWT_SECRET=Cadena_secreta_de_64_caracteres_como_mínimo_se_genera_con_openssl_rand _-hex_32
JWT_ISSUER=el_nombre_de_la_app
SESSION_DURATION_IN_DAYS=30

DB_URL=jdbc:postgresql://localhost:5432/authjar
DB_USER=root
DB_PASSWORD=root
